
.sidebar-content::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    display: none;
}
.sidebar-content:hover::-webkit-scrollbar {
    display: block; 
}
.sidebar-content::-webkit-scrollbar-thumb {
    background-color: #ababab;
    border-radius: 4px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
    background-color: #8b8a8a;
}

.sidebar-content::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.patients-details:hover {   
    background-color: rgb(241, 250, 255);
    border: 1px solid rgb(46, 178, 255);
}